<div class="col-md-11">
    <div class="jumbotron">
        <h1>SNOMED CT Descriptive Statistics</h1>
        <p class="lead">For 20160131 Release</p>
        <p>This viewer presents a set of descriptive measures and statistics, obtained through automated queries, with the objective of providing information on content changes and temporal trends as a measurement of progress.</p>
        <p><a class="btn btn-material-light-blue btn-lg" href="javascript:loadOverview();" role="button">Learn more</a></p>
        <div class="row">
            <div id="pieChart"></div>
        </div>
        <div class="row">
            <div id="pieChart2"></div>
        </div>
    </div>
</div>
